@model TConsultigSA.Models.Rol

<h2>Crear Nuevo Rol</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Descripcion">Descripción</label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
